<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link href="/favicon.ico" rel="icon"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Blog App</title>
    <script type="module" crossorigin src="/assets/index.js"></script>
    <link rel="modulepreload" href="/assets/vendor.js">
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body class="h-100" style="background-color: lightgray">
<div id="app" class="d-flex flex-column h-100"></div>

</body>
</html>
